name: Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clippy:
    runs-on: windows-2025

    steps:
    # Setup
    - uses: actions/checkout@v4

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
      with:
        shared-key: "rust-cache"

    # Checks
    - name: Run Clippy
      run: cargo clippy --locked --all-targets -- -D warnings

  test:
    runs-on: windows-2025

    steps:
    # Setup
    - uses: actions/checkout@v4

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
      with:
        shared-key: "rust-cache"

    # Checks
    - name: Run tests
      run: cargo test --locked --workspace
