name: Check
permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clippy:
    runs-on: windows-latest

    steps:
    # Setup
    - uses: actions/checkout@v4

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
      with:
        shared-key: "rust-cache"

    - name: Install wget for Windows
      run: choco install wget --no-progress

    # Lints 
    - name: Check spelling of file.txt
      uses: crate-ci/typos@v1.43.3

    - name: Run Clippy
      run: cargo clippy --locked --all-targets -- -D warnings

  test:
    runs-on: windows-latest

    steps:
    # Setup
    - uses: actions/checkout@v4

    - name: Cache Rust dependencies
      uses: Swatinem/rust-cache@v2
      with:
        shared-key: "rust-cache"

    # Checks
    - name: Build tests
      run: cargo build --locked --tests --workspace

    - name: Run tests
      run: cargo test --locked --workspace
